:root {
    --bs-primary: #7c69ef;
    --cui-primary: #7c69ef;
    --cui-link-color: #7c69ef;
    --cui-link-hover-color: #6852ed;

}

body {
    font-size: 90%;
}

.header {
    --cui-header-bg: transparent;
    --cui-header-border: transparent;
}
.sidebar {
    --cui-sidebar-bg: transparent;
    --cui-sidebar-brand-bg: transparent;
    --cui-sidebar-nav-title-color: rgb(0 0 0 / 80%);
    --cui-sidebar-nav-link-color: rgb(0 0 0 / 80%);
    --cui-sidebar-nav-link-active-color: rgb(124 105 239 / 87%);
    --cui-sidebar-nav-link-active-bg: rgb(0 0 0 / 5%);
    --cui-sidebar-nav-link-active-icon-color: rgb(124 105 239 / 87%);
    --cui-sidebar-nav-link-disabled-color: rgb(0 0 0 / 38%);
    --cui-sidebar-nav-link-disabled-icon-color: rgb(0 0 0 / 80%);
    --cui-sidebar-nav-link-hover-color: rgb(124 105 239 / 87%);
    --cui-sidebar-nav-link-hover-bg: rgb(0 0 0 / 5%);
    --cui-sidebar-nav-link-hover-icon-color: rgb(124 105 239 / 87%);
    --cui-sidebar-nav-link-icon-color: rgb(0 0 0 / 80%);
    --cui-sidebar-nav-group-bg: rgb(255 255 255 / 20%);
    --cui-navbar-brand-color: rgb(0 0 0 / 80%);
    --cui-navbar-brand-hover-color: rgb(0 0 0 / 100%);
    --cui-sidebar-nav-group-toggle-show-color: rgb(0 0 0 / 87%);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.btn-link {
    text-decoration: none;
}
.btn-primary {
    --cui-btn-bg: #7c69ef;
    --cui-btn-border-color: #7c69ef;
    --cui-btn-hover-bg: #6852ed;
    --cui-btn-hover-border-color: #6852ed;
    --cui-btn-active-bg: #6852ed;
    --cui-btn-active-border-color: #6852ed;
    --cui-btn-disabled-bg: #7c69ef;
    --cui-btn-disabled-border-color: #7c69ef;
}
.pagination {
    --cui-pagination-bg: #fff;
    --cui-pagination-focus-bg: #6852ed;
    --cui-pagination-active-bg: #7c69ef;
    --cui-pagination-active-border-color: #7c69ef;
}