.sidebar-toggler {
    background-color: transparent;
}

header .sidebar-toggler i {
    color: var(--tblr-light-text);
}

aside .sidebar-toggler i {
    color: white;
}

.navbar-collapse .dropdown-toggle:after {
    all: unset;
    font-family: "Line Awesome Free";
    color: var(--tblr-light-text);
    content: "\f107";
    font-weight: 900;
    font-size: 12px;
}

/* Fix table row hover */
.table-hover tbody tr:hover td {
    box-shadow: none !important;
}

aside .nav-item {
    margin-top: 3px;
    margin-bottom: 3px;
}

aside .navbar-nav .nav-item.dropdown span.badge {
    transform: none;
    position: initial;
    font-size: 10px;
    margin-left: 7px;
}

.nav-separator {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
}

body.theme-dark #crudTable_wrapper thead, body.theme-dark #crudTable_wrapper tfoot {
    background: var(--tblr-dark-mode-border-color);
}

body.light tbody {
    background: var(--tblr-table-bg);
}

body.theme-dark #crudTable_wrapper tbody {
    background: var(--tblr-dark);
}

body.theme-dark #crudTable_wrapper .table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--tblr-table-color);
}

body.theme-dark #crudTable_processing.dataTables_processing.card {
    background: var(--tblr-dark-text);
}

body.theme-dark #crudTable_wrapper thead, body.theme-dark #crudTable_wrapper tfoot {
    background: var(--tblr-dark-mode-border-color);
}

body.light tbody {
    background: var(--tblr-table-bg);
}

body.theme-dark #crudTable_wrapper tbody {
    background: var(--tblr-dark);
}

body.theme-dark #crudTable_wrapper .table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--tblr-table-color);
}

body.theme-dark #crudTable_processing.dataTables_processing.card {
    background: var(--tblr-dark-text);
}